<div class="row">
  <div class="span7">
     <h2>Nosotros:</h2>
     
     <p align='justify'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  </div>
  
  <div class="span6">
     <p align='justify'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  </div>
</div>

<div class="row">
  <div class="span11 offset1">
    <h2>Términos de licencia</h2>
    Esta página web se distribuye como esta sin ningún tipo de garantía sobre su contenido.
  </div>
</div>

<div class="row">
  <div class="span13">
    <h2>Algunas de las cosas que usamos para la construcción</h2>
    <dl>
      
      <dt>Ruby On Rails</dt>
        <dd>Es un framework para desarrollo web de código libre (<%= link_to 'Licensia MIT', 'http://www.opensource.org/licenses/mit-license.php' %> ) que esta diseñado para mantener productivos y felices a los programadores. Este framework nos deja escribir código hermoso siguiendo el principio de "Convención sobre Configuración" (traducido de <%= link_to 'http://rubyonrails.org/', 'http://rubyonrails.org/' %>)</dd>
      
      <dt>Twitter bootstrap</dt>
        <dd>Es un set de varias herramientas que permiten a los desarrolladores web obtener ciertos estilos (CSS) y enriquecer el contenido de su código HTML. Esta licenciado bajo <%= link_to 'Licencia Apache 2.0', 'http://www.apache.org/licenses/LICENSE-2.0' %></dd>
      
      <dt>Logo de Firefox (parte inferior derecha)</dt>
        <dd>Firefox es uno de los navegadores web más avanzados, y además es <%= link_to 'código libre', 'http://www.gnu.org/philosophy/free-sw.html' %> y de <%= link_to 'código abierto', 'http://www.opensource.org/docs/osd' %>, así que si quieres probarlo lo puedes descargar de su <%= link_to 'Pagina principal de Firefox', 'http://www.mozilla.org/' %>. Además el logo que usamos esta licenciado bajo <%= link_to 'CC BY-SA 3.0', 'http://creativecommons.org/licenses/by-sa/3.0/' %>, y si te gustó puedes encontrarlo <%= link_to 'acá.', 'http://www.mozilla.org/en-US/firefox/brand/downloads/' %>. Si no lo conoces, <strong>Pruébalo!!, de seguro te gustará.</strong></dd>
      
      <dt>Logo de Google Chrome (parte inferior derecha)</dt>
        <dd>Otro de los navegadores web más avanzados, y además es <%= link_to 'código libre', 'http://www.gnu.org/philosophy/free-sw.html' %> y de <%= link_to 'código abierto', 'http://www.opensource.org/docs/osd' %>, así que si quieres probarlo lo puedes descargar de su <%= link_to 'Pagina principal de Firefox', 'http://www.mozilla.org/' %>. Además el logo que usamos esta licenciado bajo <%= link_to 'CC BY-SA 3.0', 'http://creativecommons.org/licenses/by-sa/3.0/' %>, y si te gustó puedes encontrarlo <%= link_to 'acá', 'http://www.mozilla.org/en-US/firefox/brand/downloads/' %></dd>
    </dl>
  </div>
</div>
